{% extends 'confsite/base.html' %}
{% block content %}
    <div class="container" style="left: 0;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,
        sans-serif,Apple Color Emoji,Segoe UI Emoji,
        Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;">

        <h1>Add proposal</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <form style="position: relative; top:30px;">
                        <div class="form-group">
                            <h6>Title</h6>
                            <input type="email" class="form-control" id="title" placeholder="Enter title...">
                        </div>
{#                        <div class="form-group">#}
{#                            <h6>Keywords</h6>#}
{#                            <input type="email" class="form-control" id="keywords" placeholder="Enter keywords...">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <h6>Topics</h6>#}
{#                            <input type="email" class="form-control" id="topics" placeholder="Enter topics...">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <h6>Authors</h6>#}
{#                            <input type="email" class="form-control" id="authors" placeholder="Enter authors...">#}
{#                        </div>#}

                        <div class="form-group">
                            <h6>Abstract</h6>
                            <textarea class="form-control" id="abstract" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <h6>Upload full paper</h6>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-outline-secondary" style="top:-35px;position:relative;" >Submit
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}